DATABASE_URL="postgres://username@hostname/databasename"
WEBMENTIONS_COOKIE_SECRET="an-uber-secret-string-that-others-dont-know-about"
WEBMENTIONS_GITHUB_ID=""
WEBMENTIONS_GITHUB_SECRET=""
WEBMENTIONS_HOSTNAME="example.com"
WEBMENTIONS_USER_LIMIT=10