(function (mentions, interactions, options) {
  /*jslint browser: true */
  /* global EventSource */
  'use strict';

  var addClass = function (elem, className) {
      className = 'webmention-' + className;
      if (elem.className !== '') {
        if ((new RegExp('(^|\\s)' + className + '($|\\s)')).test(elem.className)) { return; }
        elem.className += ' ';
      }
      elem.className += className;
    },
    createChild = function (elem, tag, className, oldElem) {
      var newElem = document.createElement(tag);
      if (oldElem) {
        elem.replaceChild(newElem, oldElem);
      } else if (elem) {
        elem.appendChild(newElem);
      }
      if (className) { addClass(newElem, className); }
      return newElem;
    },
    locations = document.getElementById('webmention-hosted'),
    container = createChild(false, 'div', 'container'),
    facepile = createChild(false, 'ul', 'facepile'),
    interactionPresentation = {
      'like': 'liked',
      'repost': 'reposted',
    },
    addText = function (tag, text) {
      tag.appendChild(document.createTextNode(text));
    },
    imgOnError = function () { addClass(this, 'error'); },
    addImage = function (container, src) {
      var elem;
      if (src) {
        elem = createChild(container, 'img');
        elem.onerror = imgOnError;
        elem.src = src;
      }
    },
    addTextList = function (elem, items) {
      var i, length, list = new DocumentFragment();

      for (i = 0, length = items.length; i < length; i++) {
        if (i !== 0) {
          addText(list, i === length -1 ? ' and ' : ', ');
        }
        list.appendChild(items[i]);
      }

      elem.appendChild(list);
    },
    attr = function (elem, key, value) {
      if (!value) {
        return elem.getAttribute('data-' + key);
      }
      elem.setAttribute('data-' + key, value);
    },
    eachElem = function (selector, callback) {
      var elems = container.querySelectorAll('.webmention-' + selector), i = 0, length = elems.length;
      for (; i < length; i++) {
        callback.call(elems[i]);
      }
    },
    prettyDate = function (time) {
      time = typeof time === 'string' ? parseInt(time, 10) : time;
      var date = new Date(time),
        diff = (((new Date()).getTime() - date.getTime()) / 1000),
        day_diff = Math.floor(diff / 86400);

      if (isNaN(day_diff)) { return ''; }
      if (day_diff < 0) { return date.toLocaleString(); }

      return (day_diff === 0 && (
          (diff < 60 && "just now") ||
          (diff < 120 && "1 minute ago") ||
          (diff < 3600 && Math.floor( diff / 60 ) + " minutes ago") ||
          (diff < 7200 && "1 hour ago") ||
          (diff < 86400 && Math.floor( diff / 3600 ) + " hours ago"))) ||
        (day_diff === 1 && "Yesterday") ||
        (day_diff < 7 && day_diff + " days ago") ||
        (day_diff < 365 && Math.ceil( day_diff / 7 ) + " weeks ago") ||
        Math.ceil( day_diff / 365 ) + " years ago";
    },
    getMention = function (url) {
      var escapedUrl = url.replace('"', '%22');
      var elem = container.querySelector('.webmention-published[href="' + escapedUrl + '"]');
      if (!elem) {
        elem = facepile.querySelector('.webmention-interaction-presentation[data-url="' + escapedUrl + '"]');
      }
      if (elem) {
        while ((elem = elem.parentNode)) {
          if (
            elem.parentNode.className.indexOf('webmention-container') !== -1 ||
            elem.parentNode.className.indexOf('webmention-facepile') !== -1
          ) {
            break;
          }
        }
      }
      return elem;
    },
    addMention = function (mention, oldBox) {
      var box, author, footer, published, interactions, mentions, targetUrl, target, i, length;

      mention.author = mention.author || {};

      if (interactionPresentation[mention.type]) {
        mention.author.name = mention.author.name || 'Someone';
        mention.name = null;
        mention.summary = interactionPresentation[mention.type] + (mention.interactionTarget ? ' this' : ' something');
      }

      box = createChild(container, 'div', 'mention', oldBox);

      author = createChild(createChild(box, 'div', 'author'), mention.author.url ? 'a' : 'span');
      if (mention.author.url) {
        author.href = mention.author.url;
      }
      addImage(author, mention.author.photo);
      addText(author, mention.author.name || 'Unknown');

      if (mention.name) {
        addText(createChild(box, 'div', 'name'), mention.name);
      }
      if (mention.summary) {
        addText(createChild(box, 'div', 'summary'), mention.summary);
      }

      footer = createChild(box, 'div', 'footer');

      published = createChild(footer, 'a', 'published');
      attr(published, 'published', mention.published);
      addText(published, prettyDate(mention.published));
      published.href = mention.url;

      if (options.showContext) {
        interactions = [];
        mentions = [];

        for (i = 0, length = mention.targets.length; i < length; i++) {
          targetUrl = mention.targets[i];

          target = createChild(false, 'a', 'target');
          addText(target, targetUrl);
          target.href = targetUrl;

          (mention.interactions.indexOf(targetUrl) === -1 ? mentions : interactions).push(target);
        }

        if (interactions.length) {
          addText(footer, ' in response to ');
          addTextList(footer, interactions);
          if (mentions.length) {
            addText(footer, ' and ');
          }
        }
        if (mentions.length) {
          addText(footer, ' mentioning ');
          addTextList(footer, mentions);
        }
      }
    },
    addInteraction = function (mention, oldBox) {
      var interaction, wrapper, href, text;

      if (!facepile.parentNode) {
        if (container.childNodes.length === 0) {
          container.appendChild(facepile);
        } else {
          container.insertBefore(facepile, container.childNodes[0]);
        }
      }

      mention.author = mention.author || {};

      if (mention.author.url && mention.type === 'like') {
        href = mention.author.url;
      } else {
        href = mention.url;
      }

      text = mention.author.name || 'Someone';
      text += ' ' + interactionPresentation[mention.type] + ' this ' + prettyDate(mention.published);

      interaction = createChild(
        createChild(facepile, 'li', 'interaction-' + mention.type, oldBox),
        href ? 'a' : 'span',
        'interaction-presentation'
      );

      attr(interaction, 'url', mention.url);
      interaction.title = text;
      interaction.href = href;

      wrapper = createChild(interaction, 'span');
      addImage(wrapper, mention.author.photo);
      addText(wrapper, text);
    },
    updateListener,
    i,
    length;

  if (EventSource) {
    updateListener = function (retries) {
      retries = retries || 0;
      var updates = new EventSource(options.baseUrl + '/api/mentions/live?' + options.query);
      updates.onerror = function () {
        if (updates.readyState === 2) {
          setTimeout(
            updateListener.bind(undefined, Math.min(5, retries + 1)),
            500 + (Math.floor(1000 * Math.pow(1.5, retries) * Math.random()))
          );
        }
      };
      updates.addEventListener('mention', function (e) {
        var mention, mentionBox;
        try {
          mention = JSON.parse(e.data);
        } catch (ignore) {}
        if (mention) {
          mentionBox = getMention(mention.url);
        }
        if (mention && mention.targets.length) {
          eachElem('published', function () {
            this.childNodes[0].nodeValue = prettyDate(attr(this, 'published'));
          });
          if (options.nofacepile || !interactionPresentation[mention.type]) {
            addMention(mention, mentionBox);
          } else {
            addInteraction(mention, mentionBox);
          }
          if (!container.parentNode) {
            locations.parentNode.insertBefore(container, locations);
          }
        } else if (mention && mention.removedTargets.length) {
          if (mentionBox) {
            mentionBox.parentNode.removeChild(mentionBox);
          }
        }
      });
    };
    updateListener();
  }

  for (i = 0, length = mentions.length; i < length; i += 1) {
    addMention(mentions[i]);
  }
  for (i = 0, length = interactions.length; i < length; i += 1) {
    addInteraction(interactions[i]);
  }

  if (mentions[0] || interactions[0]) {
    locations.parentNode.insertBefore(container, locations);
  }
}(<%= JSON.stringify(mentions) %>, <%= JSON.stringify(interactions) %>, <%= JSON.stringify(options) %>));
