<div>
  <h2>What's this?</h2>
  <p>This is a <a href="http://indiewebcamp.com/webmention">WebMention</a> endpoint.</p>
  <p>You likely came here by clicking a link from a site and that likely means that the site you came from is accepting webmentions.</p>
  <p>If you have written something on your own site about the site you came from (or are using eg. <a href="https://www.brid.gy/">brid.gy</a>), then you can make that site aware of that by sending it a WebMention. </p>
  <p>You should not send that sites webmentions directly here, but rather use <a href="http://indiewebcamp.com/webmention#endpoint_discovery">proper discovery</a> of the other site's endpoint as that might change in the future.</p>
  <p>Sounds interesting? Want to accept webmentions yourself? Sign up to <a href="/">this service</a> or host one yourself – there are many plugins out there for popular tools like WordPress.</p>
</div>
