<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>A WebMention Endpoint</title>
  <link href='//fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
  </script>
</head>
<body>
  <div id="header">
    <h1><a href="/">A <em>WebMention</em> Endpoint</a></h1>
    <div class="subtitle">Easily accept and embed WebMentions on all type of sites</div>
  </div>
  <div id="main">
    <%= content %>
  </div>
  <address>Built by <a href="http://voxpelli.com/">VoxPelli</a>. Part of the <a href="http://indiewebcamp.com/">IndieWeb</a> movement.</address>
</body>
