*{margin:0;padding:0}
html{background:#fff}
body{font-size:18px;font-family:"Helvetica neue", Helvetica, Arial, "MS Trebuchet", sans-serif;margin:10px auto;max-width:800px;color:#212121}
a{color:rgb(22,160,133)}
img{border:0}
h1,h2{font-family:'Faster One',sans-serif;font-weight:400}
h1{font-size:2.8em;padding:40px 20px 20px;text-align:center;}
h1 a{color:#212121;text-decoration:none}
h1 em{color:rgb(22,160,133);font-style:normal}
h2{font-size:1.4em}
h2,p,li,#main .info{margin-bottom:20px}
ul{list-style:none}
.subtitle{font-size:.8em;padding:0 100px 40px;text-align:center;margin-bottom:15px}
.warning{color:#aa0;font-weight:700;}
.accounts-available{font-size:14px;}
#siteinfo,#main > div{padding: 15px 20px;margin-bottom:8px}
address{font-style:normal;padding:0 10px 10px;text-align:center;font-size:.7em}
textarea{width:80%;border-radius:2px;border:1px solid #ccc;background:#eee;padding:5px;resize: none;height:1em;margin-top:20px;}
textarea.webmention-embed{height:14em}
textarea:first-of-type{margin-top:0}

.webmention-mention {
  padding-left: 9%;
  position: relative;
  margin-bottom: 20px;
}
.webmention-text {
  padding: 10px 0;
}
.webmention-author {
  font-size: .9em;
}
.webmention-published {
  display: block;
  font-size: .7em;
  color: inherit;
}
.webmention-author img {
  position: absolute;
  top: -5px;
  left: 0;
  width: 7%;
  border-radius: 240px;
}
